#navcontainer ul{
	padding-left: 0;
	margin-left: 0;
	background-color: #80acff;
	color: White;
	float: left;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
	padding: 0.2em 1em;
	background-color: #80acff;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#tooBig1, #tooBig2{
	padding-right: 4px;
}


#navcontainer ul a:hover
{
color: #fff;
background-color: #65e765;
/*text-decoration: none;*/
}

a:link {
    color: black;
}
